
/*<----------------------------------------------------------home-----------------------------------------------------------------*/

    
       
.navbar1 {
    position: absolute;
    margin-left: 380px;
    height: 60px;
    display: flex;
    background-color: white;
    
}

       .home-map img{
           margin-left: 500px;
           height: 500px;
       }
        .home-map {
            position: relative;
       }
       .home-map p{
           position: absolute;
           top: 180px;
           margin-left: 180px;
           color: darkgrey;
            font-size: 40px;
            font-weight: bold;
       }
        .home-map p1{
            top: 150px;
            margin-left: 180px;
           position: absolute;
           color: darkgrey;
            font-size: 40px;
            font-weight: bold;
       }
       .home-cont{
           
           margin-top: 100px;
       }
       .home-cont .im{
           
           box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
          
       }
.navbar1 a {
    
	width: 90px;
    float: right;
	border-radius: 3px;
    color: black; 
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	display: inline-block;
    line-height: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
}



.navbar a:hover {
background-color:#E5FBFF;
  color: black;
}
       
    .logo1 img {
height: 10rem;
margin-right: -20px;
margin-top: -42px;
margin-bottom: -45px;

}
       .shbtn a{
           cursor: pointer;
           text-align: center;
           position: absolute;
           background: lightblue;
           top: 500px;
           width: 200px;
           border-radius: 20px;
           margin-left: 200px;
           font-size: 20px;
           font-weight: bold;
           box-shadow: 0px 5px 0 0px lightgrey;
       }
       .shbtn a{
            font-size: 30px;
           height: 35px;
           font-weight: bold;
           color: black;
           text-decoration: none;
       }
       .shbtn a:hover{
           background: lightgrey;
       }
    
    
/*	--------------------------------------------------------------pxlogin-----------------------------------------------------------*/
.close{
	margin-top: 20px;
   
}
.close a{
	margin-left: 465px;
	margin-top: 20px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
	user-select:none;
	text-decoration: none;
}



ion-icon{
            color: grey;
            font-size: 25px;
            
        }

.container
{
	position: absolute;
    top: 100px;
	left: 380px;
	width: 40vw;
	height: 75vh;
	border-radius: 4px;
	background: white;
    box-shadow: 0px 0px 35px 2px black;
}

.container1
{
	
    top: 0;
	height: 100vh;
	width: 120%;
	left: -20px;
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: "register";
	box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
	background: rgba(0,0,0,0.3);
	
}



.login img{
    
	position: relative;
	width: 180px;
	margin-top:-20px; 
    margin-bottom: -30px;
}



.login{
	
	grid-area: login;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
    
}
.login h3.title{
	font-size: 30px;
	margin: 15px 0;
	color:#00DBFF;
}

.text-input{
	background:lightgrey;
	height: 40px;
	display: flex;
	width: 250px;
	align-items: center;
	border-radius: 3px;
	padding: 0 15px;
	margin: 5px 0;
}


.text-input input{
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	margin-left: 10px;

}
::placeholder {
	color: grey;
}

.loginbtn{
	width: 50%;
	padding: 8px;
	color: #fff;
	background: #00DBFF;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
	justify-content: center;
    box-shadow: 0px 0px 3px 0.5px grey;
}

.loginbtn:hover {
    background-color: dimgrey;
	color: #00DBFF;
	transition: 0.4s;
  
}

a{
	font-size: 14px;
	color: #00DBFF;
	cursor: pointer;
	user-select:none;
	text-decoration: none;
}

        
a:hover{
            text-decoration: underline;
        }        
        
.mobile1{
	visibility: hidden;
}

/*--------------------------------------------------------------pxregister---------------------------------------------------*/


.close{
	margin-top: 20px;
  
}


.rcontainer
{
	position: absolute;
    top: 70px;
	left: 380px;
	width: 40vw;
	height: 80vh;
	border-radius: 4px;
	background: white;
    box-shadow: 0px 0px 35px 2px black;
}

.rcontainer1
{
    top: 0;
	height: 100vh;
	width: 120%;
	left: -20px;
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: "register";
	box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
	background: rgba(0,0,0,0.3);
	
}


.register img{
    
position: relative;
	width: 180px;
	margin-top:-80px; 
    margin-left: -70px;
    margin-bottom: -70px;
}



.register{
	left: 40px;
	grid-area: login;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
    
}
.register h3.title{
	font-size: 30px;
	margin: 15px 0;
	color:#00DBFF;
	margin-left: -80px;
}


.text-input1{
	background:lightgrey;
	height: 40px;
	display: flex;
	width: 250px;
	align-items: center;
	border-radius: 3px;
	padding: 0 15px;
	margin: 5px 0;
}

.text-input1 input{
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	margin-left: 10px;

}
::placeholder {
	color: grey;
}

.regbtn{
	width: 50%;
	padding: 8px;
	color: #fff;
	background: #00DBFF;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	justify-content: center;
    box-shadow: 0px 0px 3px 0.5px grey;
}

.regbtn:hover {
background-color: dimgrey;
	color: #00DBFF;
	transition: 0.4s;
  
}

a{
	font-size: 14px;
	color: #00DBFF;
	cursor: pointer;
	user-select:none;
	text-decoration: none;
}
  a:hover{
            text-decoration: underline;
        }  

     
.re{
        margin-left: -110px;
        }

/*-----------------------------------------------------------------pxproducts-------------------------------------------------*/


.navbar {
    position: absolute;
    margin-left: 380px;
    height: 60px;
    display: flex;
    background-color: white;
    
}



.navbar a {
    
	width: 90px;
    float: right;
	border-radius: 3px;
    color: black; 
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	display: inline-block;
    line-height: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
}



.navbar a:hover {
background-color:#E5FBFF;
  color: black;
}


#active {
  background-color:#00DBFF;
  color: black;
}



.header {
    position: fixed;
    top: 0;
    left: 1%;
    right: 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 1px #97F0FF;
}

    
.logo img {
height: 10rem;
margin-right: -20px;
margin-top: -42px;
margin-bottom: -45px;

}
    
.weight{
		margin-left: 48%;
		font-size: 13px;
        margin-bottom: 5px;
	}	
	
.quan{
		width: 30px;
		border-radius: 3px;
        border: none;
		margin-left: 25%;
		height: 20px;
	}

.price{
		margin-left: 40%;
		font-size: 13px;
        margin-bottom: 5px;
	}

.name{
		margin-left: 40%;
		font-size: 18px;
        margin-bottom: 3px;
	}

.pbtn{
        
		background-color: #00DBFF;
		border: none;
        border-radius: 3px;
		color: white;
		height: 20px;
		width: 80px;
        cursor: pointer;
	}

.pbtn:hover{
		background-color:  rgba(0,0,0,0.6);
	}
   
.cheading{
        margin-left: 40%;
		top: 250px;
		margin-bottom: 20px;
        color: #00DBFF;
	}
.cart_container{
        top: 50%;
        margin-top: 130px;
    }
        
a:hover{
            text-decoration: underline;
        } 
    
    .pbox{
		width: 200px;
		height: 265px;
		align-items: center;
		display: inline-block;
		margin-left: 85px;
		margin-top: 40px;
		justify-content: center;
		margin-bottom: 20px;
		background: rgba(0,0,0,0.1);
		border-radius: 5px;
		
	}

.pbox img{
        
		margin-top: 12px;
		margin-left: 26px;
		height: 150px;
		width: 150px;
		border-radius: 15px;
	}

.pbox .name{
		margin-left: 70px;
	}

.table-bottom{
        height: 130px;
        border: solid red;
    }

.line{
        position: absolute;
        margin-top: 390px;
        width: 1200px;
        border-top: solid grey;
    }

.footer .box-container {
        margin-top: 50px;
        height: 340px;
        display: inline-flex;
        border-radius: 5px;
}

.footer .box-container .box {
    display: block;
    width: 412px;
    background-color: rgba(0,0,0,0.1);
}
    
.footer .box-container .box h3 {
    font-size: 1.5rem;
    color: #00DBFF;
    padding: 1rem 0;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.footer .box-container .lbox {
    display: block;
    width: 412px;
    background-color: rgba(0,0,0,0.1);
}
    
.footer .box-container .lbox h3 {
    font-size: 1.5rem;
    color: #00DBFF;
    padding: 1rem 0;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: -15px;
}
    
.footer .box-container .lbox p2 {
    font-size: 1.5rem;
    color: #00DBFF;
    padding: 1rem 0;
    display: flex;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: -15px;
}

.footer .box-container .lbox p2 :hover{
        color: #00DBFF;
        text-decoration: underline;
    }

.footer .box-container .lbox p2 a{
    font-size: 15px;
    color: dimgrey;
    padding: 1rem 0;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: -15px;
}
.footer .box-container .lbox p2 ion-icon{
    font-size: 20px;
    color: dimgrey;
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: -15px;
}



.footer .box-container .box p {
    font-size: 1rem;
    color: dimgrey;
    text-decoration: none;
    padding: 8px 0;
    margin-left: 15px;
    cursor: pointer;
    
}
.footer .box-container .box p:hover{
        text-decoration: underline;      
    }

.footer .box-container .box p i {
  padding-right: .3rem;
  color: #00DBFF;
}

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1rem;
  color: #00DBFF;
  background:  background-color: rgba(0,0,0,0.05);;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}


.cart_red a{
        text-decoration: none;
        font-size: 18px;
        margin-left: 7px;
    	color: white;
       
    }
.cart_red ion-icon{
        text-decoration: none;
        font-size: 18px;
        margin-top: 2px;
        margin-left: 7px;
    	color: white;
       
    }
.cart_red{
      
        display: flex;
        background-color: #00DBFF;
		border-radius: 3px;
		font-weight: bold;
	    border: none;
		height: 24px;
		width: 110px;
        cursor: pointer;
        margin-left: 82%;
    }
 .cart_red:hover{
        background-color: grey;
    }
/*	/////////////////////////*/
